# Hugo
/public/
/resources/_gen/
/assets/jsconfig.json
.hugo_build.lock

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary
*.tmp
*.swp

# Node
node_modules/
package-lock.json

# Cloudflare Worker (nur lokal, wird im Dashboard deployed)
cloudflare-worker.js
